<% @posts.each do |post| %>
  <h3>
    <%= User.find(post.user_id).first_name %>
    <%= User.find(post.user_id).last_name %>
  </h3>
  <p><%= post.message %></p>
  <p style="color: #cccccc;"> <%= time_ago_in_words(post.created_at) %> ago</p>
  <%= button_to "Edit", edit_post_path(post.id), :method => :get %>
  <%= button_to "Delete", post_path(post.id), :method => :delete,
  data: {confirm: 'Are you sure you want to delete this post?'}%>

  <%= render partial: 'partials/comment_form', locals: { post_id: post.id } %>

  <% @comments = Comment.where(post_id: post.id) %>
  <%= render partial: 'partials/post_comments', locals: { comments: @comments } %>

  <hr>

<% end %>
<br><br>
<%= link_to new_post_path do %>
  New post
<% end %>
